{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<div class="container" style="margin-top:80px; margin-bottom:80px;">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div style="border:1px solid #eee; padding:40px; background:#fff;">

                <h2 style="margin-bottom:20px;">Create New Password</h2>

                <p style="color:gray;">
                    Please enter your new password below.
                </p>

                <form method="POST">
                    {% csrf_token %}

                    {% if form.errors %}
<div style="color:red; margin-bottom:15px;">
    {% for field in form %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

                    <div class="form-group" style="margin-bottom:15px;">
                        <label>New Password <span style="color:red;">*</span></label>
                        {{ form.new_password1 }}
                    </div>

                    <div class="form-group" style="margin-bottom:15px;">
                        <label>Confirm New Password <span style="color:red;">*</span></label>
                        {{ form.new_password2 }}
                    </div>

                    {% comment %} <button type="submit" 
                        style="width:100%; background:black; color:white; padding:12px; margin-top:20px; border:none;">
                        Change Password
                    </button> {% endcomment %}
                    <button type="submit" 
style="width:100%; background:black; color:white; height:45px; margin-top:20px; border:none; display:flex; align-items:center; justify-content:center;">
Change Password
</button>

                </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}

