{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<section class="flat-row flat-slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
		
				<div class="slider owl-carousel">
				
				
					<div class="slider-item style3" style="height: 400px;">
						<img src="{% static 'images/slider/03.webp' %}" alt="">
					</div>
					<div class="slider-item style3" style="height: 400px;">
						<img src="{% static 'images/slider/01.webp' %}" alt="">
					</div>
					<div class="slider-item style3" style="height: 400px;">
						<img src="{% static 'images/slider/02.webp' %}" alt="">
					</div>
					
				</div>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-slider -->




<section class="flat-imagebox">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-tab">
					<ul class="tab-list">
						<li class="active">Products</li>
						
					</ul>
				</div><!-- /.product-tab -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
		<div class="box-product">
			<div class="row">
				{% for p in products %}
				<div class="col-lg-3 col-sm-6">
					<div class="product-box">

						<div class="imagebox">
							
							<ul class="box-image owl-carousel-1">
								<li>
									<a href="{% url 'core:product-detail' p.pid %}" title="">
										<img src="{{p.image.url}}" alt="" height="150px" width="150px">
									</a>
								
							</ul><!-- /.box-image -->
							<div class="box-content">
								<div class="cat-name">
									<a href="{% url 'core:product-detail' p.pid %}" title="">{{p.category.title}}</a>
								</div>
								<div class="product-name">
									<a href="{% url 'core:product-detail' p.pid %}"
										title="">{{p.title}}<br /></a>
								</div>
								<div class="price">
									
									<div class="sale">
										<span>₹</span><span class="current-product-price-{{ p.id }}">{{p.price}}</span>
										<span class="old-price">₹{{ p.old_price }}</span>
									</div>
									
								</div>
							</div><!-- /.box-content -->
							<div class="box-bottom">
								<div class="btn-add-cart">
									 <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">
												<input type="hidden" value="{{p.pid}}" class="product-pid-{{ p.id }}">
												<input type="hidden" value="{{p.image.url}}" class="product-image-{{ p.id }}">
												<input type="hidden" value="{{p.id}}" class="product-id-{{ p.id }}">
												<input type="hidden" value="{{p.title}}" class="product-title-{{ p.id }}">
												<button style="background-color: rgb(225, 80, 32);" 
class="add-to-cart-btn" 
data-product-id="{{ p.id }}">
<img src="{% static 'images/icons/add-cart.png' %}"> Add to Cart
</button>
</div>
                                

<button class="add-to-wishlist-btn" data-product-id="{{p.id}}">
Wishlist
</button>
								
							</div><!-- /.box-bottom -->
						</div><!-- /.imagebox -->
					</div>

				</div><!-- /.col-lg-3 col-sm-6 -->
				{% endfor %}

			</div><!-- /.row -->
			
		</div><!-- /.box-product -->
	</div><!-- /.container -->
</section><!-- /.flat-imagebox --><br>
<br>
<br>
<br><br>
<br>

{% endblock content %}